/***
 * Layout 1:Text only *
 ***/

.modalContent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.modalContent__content{
    clear:both;
    padding: 30px;
}

.content__button{
    margin-bottom: 20px;
    height: 36px;
}

.content__formFields {
    margin-top: 20px;
}

.modalContent__image {
    display:none;
}

/* Mobile GDPR */
.modalContent--mobile .content__gdpr,
.modalContent--mobile .content__gdprLegal
{
    margin-left: -30px;
    margin-right: -30px;
}

.modalContent--mobile .content__gdpr
{
    padding: 20px 30px 0 30px;
}

.modalContent--mobile .content__gdprLegal
{
    padding: 20px 30px 30px 30px;
}

.modalContent--mobile .content__gdprLegal img {
    float: none;
    display: block;
    margin: 0 auto 20px auto;
}
